<div id="sidebar" class='active'>
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src="assets/images/favicon.svg" alt="" srcset="">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">


                <li class='sidebar-title'>Main Menu</li>



                <li class="sidebar-item ">
                    <a href="/users" class='sidebar-link'>
                        <i data-feather="home" width="20"></i>
                        <span class="text2">Dashboard</span>
                    </a>

                </li>
                
            
                <li class="sidebar-item  ">
                    <a href="/users/create" class='sidebar-link'>
                        <i data-feather="file-text" width="20"></i>
                        <span class="text2">Create Content</span>
                    </a>

                </li>


                <li class='sidebar-title'>MANAGE CONTENT</li>


                <li class="sidebar-item  ">
                    <a href="/users/edit" class='sidebar-link'>
                        <i data-feather="edit-3" width="20"></i>
                        <span class="text2">Edit Post</span>
                    </a>

                </li>




                <li class="sidebar-item ">
                    <a href="/users/delete" class='sidebar-link'>
                        <i data-feather="trash-2" width="20"></i>
                        <span class="text2">Delete Post</span>
                    </a>

                </li>




                <li class="sidebar-item  ">
                    <a href="/users/comingsoon" class='sidebar-link'>
                        <i data-feather="file-plus" width="20"></i>
                        <span class="text2">Manage Post Comments</span>
                    </a>

                </li>




                <li class='sidebar-title'>Analytics</li>



                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="server" width="20"></i>
                        <span class="text2">System Analytics</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="/users/comingsoon" onclick="return false">Total View</a>
                        </li>

                        <li>
                            <a href="/users/comingsoon" onclick="return false">Geo Monitor</a>
                        </li>

                        <li>
                            <a href="/users/comingsoon" onclick="return false">Users Behaviour</a>
                        </li>

                    </ul>

                </li>




                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="trending-up" width="20"></i>
                        <span class="text2">Google Analytics</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="/users/comingsoon" onclick="return false">Google Analytics</a>
                        </li>

                    </ul>

                </li>




                <li class='sidebar-title'>Manage Admin</li>



                <li class="sidebar-item has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="user" width="20"></i>
                        <span class="text2">Authentication</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="/users/change-password">Change Password</a>
                        </li>

                        <li>
                            <a href="/users/signup">Create New Admin</a>
                        </li>

                    </ul>

                </li>

                <li class="sidebar-item  ">
                    <a href="/users/users" class='sidebar-link'>
                        <i data-feather="user-x" width="20"></i>
                        <span class="text2">Delete Admin</span>
                    </a>

                </li>



                <!-- <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="alert-circle" width="20"></i>
                        <span class="text2">Errors</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="error-403.html">403</a>
                        </li>

                        <li>
                            <a href="error-404.html">404</a>
                        </li>

                        <li>
                            <a href="error-500.html">500</a>
                        </li>

                    </ul>

                </li> -->
                <li class='sidebar-title'>Settings And Customizations</li>

                <li class="sidebar-item  active">
                    <a href="/users/settings" class='sidebar-link'>
                        <i data-feather="settings" width="20"></i>
                        <span class="text2">Settings</span>
                    </a>

                </li>

            </ul>
            <br><br>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>